<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="/webjars/bootstrap/5.1.0/css/bootstrap.min.css"/>
</head>
<body class="bg-light d-flex align-items-center" style="height: 100vh;">
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <div class="card shadow-sm p-4">
        <h1 class="text-center mb-4">Login</h1>
        <div class="d-grid">
          <a href="/oauth2/authorization/github" class="btn btn-dark btn-lg">Login via GitHub</a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
