<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Logout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.0/css/bootstrap.min.css"/>
</head>
<body class="bg-light d-flex align-items-center" style="height: 100vh;">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow-sm p-4 text-center">
                <h1 class="mb-4">Logged out</h1>
                <p>You have logged out successfully!</p>
                <div class="d-grid mt-3">
                    <a href="/oauth2/authorization/github" class="btn btn-dark btn-lg">Login again</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
